{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  </head>
  <body>

    <div class="hd">
        <div class="bm-pg bm-mb bm-mb-m">
            <div class="bm-hd">
                <div class="bm-hd-tp">
                    <div class="logo">
                        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}"/></a>
                        <small><span class="t-accent hidden">Premier Sports Tips</span></small>
                    </div>
                    {% if user.is_authenticated %}
                      <div class="register">
                        <a href="{% url 'logout' %}" class="signup"><strong>Logout</strong></a>
                      </div>
                    {% else %}
                      <div class="register">
                          <a href="{% url 'login' %}" class="log"><strong>Login</strong></a>
                        <a href="{% url 'register' %}" class="signup"><strong>Register</strong></a>
                      </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    {% block content %}{% endblock %}

    <div class="p-lg"></div>

    <div class="bm-f"></div>

    <!-- Navbar -->
    {% block footer %}{% endblock %}
    <div class="bm-bn bm-mb">
        <div class="bm-bet-sum">
                <div class="l">Premier Sports Tips</div>
        </div>

        <div class="bm-bn-l">
            <a href="{% url 'home' %}">
                <span></span>
                <span>Home</span>
            </a>
            <a href="{% url 'deposit' %}">
                <span></span>
                <span>Deposit</span>
            </a>
            <a href="{% url 'statement' %}">
                <span></span>
                <span>Statements</span>
            </a>
        </div>
    </div>
  </body>
</html>
