{% extends "base.html" %}

{% block title %}OasisTips-Deposit{% endblock %}


{% block content %}
<div class="bm-form">
    <div class="body t-center">
        <form action="" method="POST">
            <div class="content">
                <h2><strong>Deposit</strong></h2>
            </div>
            <div class="input">
                <label>Enter amount</label>
                <input class="t-center" type="number" name="amount" placeholder="30" />
            </div>

            <div class="action">
                <button type="submit" name="deposit">Deposit</button>
            </div>
        </form>

        <div class="input content">
            <p>MPESA Paybill <strong>271639</strong></p>
            <p>Account: <strong>SUB30</strong></p>
        </div>

        <div class="p-md"></div>

        <div class="content">
            <form action="" method="POST">
                <p>Or choose a deposit amount</p>
                <table>

                     <tr>
                        <td><button type="submit" name="dailyDeposit"><a href="#">Daily 30/-</a></button></td>
                        <td><button type="submit" name="weeklyDeposit"><a href="#">Weekly70/-</a></button></td>
                    </tr>

                    <tr>
                        <td><button type="submit" name="twoWeekDeposit"><a href="#">Two Weeks 190/-</a></button></td>
                        <td><button type="submit" name="monthDeposit"><a href="#">Monthly 220/-</a></button></td>
                    </tr>

                </table>
            </form>
        </div>
    </div>
</div>

    <!-- <div class="p-xl"></div>
    </div> -->


{% endblock %}
