{% extends "base.html" %}
<!DOCTYPE HTML>
<body>


{% block content %}
  <div class="bm-form">
      <div class="body t-center">
          <form action="" method="POST">
               <div class="content">
                  <h2>Reset Password</h2>
              </div>
              <div class="input">
                  <label>Enter Your Phone Number</label>
                  <input class="t-center" type="tel" name="phone" placeholder="07xxxxxxxx" autocomplete="off" />
              </div>

              <div class="input">
                  <label>New Password</label>
                  <input class="t-center" type="password" name="phone" placeholder="***********"/ autocomplete="off">
              </div>

              <div class="input">
                  <label>Confirm Password</label>
                  <input class="t-center" type="password" name="phone" placeholder="***********"/ autocomplete="off">
              </div>

              <div class="action">
                  <button type="submit" name="submit">Enter</button>
              </div>
          </form>

          <div class="comment">
              <p>By signing up, you agree to the Terms & Conditions and Privacy Policy of Ivisha Bet and its entities</p>
          </div>
      </div>
  </div>
{% endblock %}
