{% extends "base.html" %}
<!-- Header -->
{% block title %} OasisTips-Home {% endblock %}


<!-- Banner -->
{% block content %}
<div class="bm-ban bg-accent">

</div>

<!-- Tips -->

<div class="bm-gms m3">
    <div class="bm-gms-tl">
        <div class="l">
            <div>Today's Tips  - <small>Active Visitors 2698</small></div>
        </div>
        <div class="r">
            <small>2020/01/22</small>
        </div>
    </div>

    <div class="bm-gms-c">
        <div class="bm-gms-ev">
            <div class="inf">
                <div class="l"></div>
                <div class="t">
                    <span>Man Utd</span>
                    <span>Burnley</span>
                </div>
                <div class="m">
                    <span>2020-01-22 23:59:00</span>
                </div>
            </div>
            <div class="tp">
                <div class="v">
                    <a href="{% url 'tip' %}">View TIP</a>
                </div>
             </div>
        </div>

        <div class="bm-gms-mx">
            <span>EPL</span>
        </div>
    </div>

    <div class="bm-gms-c">
        <div class="bm-gms-ev">
            <div class="inf">
                <div class="l"></div>
                <div class="t">
                    <span>Man Utd</span>
                    <span>Burnley</span>
                </div>
                <div class="m">
                    <span>2020-01-22 23:59:00</span>
                </div>
            </div>
            <div class="tp">
                <div class="v">
                    <a href="{% url 'tip' %}">View TIP</a>
                </div>
             </div>
        </div>
        <div class="bm-gms-mx">
            <span>EPL</span>
        </div>
    </div>

    <div class="bm-gms-c">
        <div class="bm-gms-ev">
            <div class="inf">
                <div class="l"></div>
                <div class="t">
                    <span>Man Utd</span>
                    <span>Burnley</span>
                </div>
                <div class="m">
                    <span>2020-01-22 23:59:00</span>
                </div>
            </div>
            <div class="tp">
                <div class="v">
                    <a href="{% url 'tip' %}">View TIP</a>
                </div>
             </div>
            </div>
        <div class="bm-gms-mx">
            <span>EPL</span>
        </div>
    </div>

    <div class="bm-gms-c">
        <div class="bm-gms-ev">
            <div class="inf">
                <div class="l"></div>
                <div class="t">
                    <span>Man Utd</span>
                    <span>Burnley</span>
                </div>
                <div class="m">
                    <span>2020-01-22 23:59:00</span>
                </div>
            </div>
            <div class="tp">
                <div class="v">
                    <a href="{% url 'tip' %}">View TIP</a>
                </div>
             </div>
            </div>
        <div class="bm-gms-mx">
            <span>EPL</span>
        </div>
    </div>

    <div class="bm-gms-c">
        <div class="bm-gms-ev">
            <div class="inf">
                <div class="l"></div>
                <div class="t">
                    <span>Man Utd</span>
                    <span>Burnley</span>
                </div>
                <div class="m">
                    <span>2020-01-22 23:59:00</span>
                </div>
            </div>
            <div class="tp">
                <div class="v">
                    <a href="{% url 'tip' %}">View TIP</a>
                </div>
             </div>
            </div>
        <div class="bm-gms-mx">
            <span>EPL</span>
        </div>
    </div>

</div>
{% endblock %}
