{% extends "base.html" %}

{% load widget_tweaks %}



{% block content %}
  <div class="bm-form">
      <div class="body t-center">
          <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
              <div class="content">
                      {% if messages %}
                        <div class="content">
                        {% for message in messages %}
                          <div class="alert alert-{{message.tags}}">
                            {{message}}
                          </div>
                        {% endfor %}
                        </div>
                      {% endif %}
                  <h2>Login</h2>
              </div>

              {% if form.is_bound %}

                  {% if form.non_field_errors %}
                    <div class="input">
                        <label>Enter Your Phone Number</label>
                        {% render_field form.username class="form-control is-invalid" placeholder='07xxxxxxxx' type='tel' autocomplete='off' %}
                    </div>
                    <div class="input">
                        <label>Enter Your Password</label>
                          {% render_field form.password class="form-control is-valid" placeholder='xxxxxxxxxx' type='password' autocomplete='off' %}
                    </div>
                    <ul class='invalid-feedback'>
                        {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                  {% else %}
                    <div class="input">
                        <label>Enter Your Phone Number</label>
                        {% render_field form.username class="form-control is-valid" placeholder='07xxxxxxxx' type='tel' autocomplete='off' %}
                    </div>
                    <div class="input">
                        <label>Enter Your Password</label>
                        {% render_field form.password class="form-control is-valid" placeholder='xxxxxxxxxx' type='password' autocomplete='off' %}
                    </div>
                  {% endif %}


              {% else %}
              <div class="input">
                  <label>Enter Your Phone Number</label>
                  {% render_field form.username class="t-center" placeholder='07xxxxxxxx' type='tel' autocomplete='off' %}
              </div>

              <div class="input">
                  <label>Enter Your Password</label>
                  {% render_field form.password class="t-center" placeholder='xxxxxxxxxx' type='password' autocomplete='off' %}
              </div>
            {% endif %}


              <div class="action">
                  <button type="submit" name="submit">Enter</button>
              </div>
          </form>

          <p><a href="forgot_password.html">Forgot password??</a></p>

          <div class="comment">
              <p>By signing up, you agree to the Terms & Conditions and Privacy Policy of Ivisha Bet and its entities</p>
          </div>
      </div>
  </div>
{% endblock %}
