{% extends "base.html" %}

{% block content %}
  <div class="bm-form">
      <div class="body t-center">

              <div class="input">
                  <h2>You have been logged out</h2>
              </div>

              <p><a href="{% url 'login' %}">Log In Again</a></p>

              <div class="comment">
                  <p>By signing up, you agree to the Terms & Conditions and Privacy Policy of Ivisha Bet and its entities</p>
              </div>
      </div>
  </div>
{% endblock %}
