{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}OasisTips-SignUp{% endblock %}



{% block content %}
<div class="bm-form">
    <div class="body t-center">
        <form action="" method="POST" novalidate>
            {% csrf_token %}
                  <div class="content">
                      <h2>Signup</h2>
                  </div>



    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}

          {% if form.username.errors %}
            <div class="input">
                <label>Enter Your Phone Number</label>
                {% render_field form.username class="form-control is-invalid" placeholder='07xxxxxxxx' type='tel' autocomplete='off' %}
                {% for error in form.username.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
            </div>
          {% else %}
            <div class="input">
                <label>Enter Your Phone Number</label>
                {% render_field form.username class="form-control is-valid" placeholder='07xxxxxxxx' type='tel' autocomplete='off' %}
            </div>
          {% endif %}

          {% if form.password1.errors %}
            <div class="input">
                <label>Enter Your Password</label>
                {% render_field form.password1 class="form-control is-invalid" placeholder='xxxxxxxxxx' type='password' autocomplete='off' %}
                {% for error in form.password1.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
            </div>

          {% else %}
            <div class="input">
                <label>Enter Your Password</label>
                {% render_field form.password1 class="form-control is-valid" placeholder='xxxxxxxxx' type='password' autocomplete='off' %}
            </div>
        {% endif %}

        {% if form.password2.errors %}
          <div class="input">
              <label>Confirm Password</label>
              {% render_field form.password2 class="form-control is-invalid" placeholder='xxxxxxxxxx' type='password' autocomplete='off' %}
              {% for error in form.password2.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
          </div>
        {% else %}
          <div class="input">
              <label>Confirm Password</label>
              {% render_field form.password2 class="form-control is-valid" placeholder='xxxxxxxxx' type='password' autocomplete='off' %}
          </div>
      {% endif %}



      {% else %}
      <div class="input">
          <label>Enter Your Username</label>
          {% render_field form.username class="t-center" placeholder='07xxxxxxxx' type='tel' autocomplete='off' %}
      </div>

      <div class="input">
          <label>Enter Your Password</label>
          {% render_field form.password1 class="t-center" placeholder='xxxxxxxxxx' type='password' autocomplete='off' %}
      </div>

      <div class="input">
          <label>Confirm Password</label>
          {% render_field form.password2 class="t-center" placeholder='xxxxxxxxxx' type='password' autocomplete='off' %}
      </div>

    {% endif %}

    </div>




            <div class="action">
                <button type="submit" name="submit">Enter</button>
            </div>
        </form>

        <p>Already have an account??<a href="login.html"> Login</a></p>

        <div class="comment">
            <p>By signing up, you agree to the Terms & Conditions and Privacy Policy of Ivisha Bet and its entities</p>
        </div>
    </div>
</div>
{% endblock %}
