{% extends "base.html" %}

{% block title %}OasisTips-Statement{% endblock %}



{% block content %}
<div class="bm-gms m3">
    <div class="bm-gms-tl">
        <div class="l">
            <div>Statements</div>
        </div>
        <div class="r">
            <small></small>
        </div>
    </div>

<div class="bm-gms-c open">
    <div class="bm-gms-ev">
        <div class="inf">
            <div class="l"></div>
            <div class="t">
                <span>SUBSCRIPTION_VIEW</span>
                <span>WalletStake</span>
            </div>
            <div class="m">
                <span>2020-01-27 10:55:57</span>
            </div>
        </div>
        <div class="tp">
            <div class="t">
                <span>0</span>
                <span></span>
            </div>
        </div>
    </div>
</div>

<div class="bm-gms-c open">
    <div class="bm-gms-ev">
        <div class="inf">
            <div class="l"></div>
            <div class="t">
                <span>SUBSCRIPTION_VIEW</span>
                <span>WalletStake</span>
            </div>
            <div class="m">
                <span>2020-01-27 10:55:57</span>
            </div>
        </div>
        <div class="tp">
            <div class="t">
                <span>0</span>
                <span></span>
            </div>
        </div>
    </div>
</div>

<div class="bm-gms-c open">
    <div class="bm-gms-ev">
        <div class="inf">
            <div class="l"></div>
            <div class="t">
                <span>SUBSCRIPTION_VIEW</span>
                <span>WalletStake</span>
            </div>
            <div class="m">
                <span>2020-01-27 10:55:57</span>
            </div>
        </div>
        <div class="tp">
            <div class="t">
                <span>0</span>
                <span></span>
            </div>
        </div>
    </div>
</div>

<div class="bm-gms-c open">
    <div class="bm-gms-ev">
        <div class="inf">
            <div class="l"></div>
            <div class="t">
                <span>SUBSCRIPTION_VIEW</span>
                <span>WalletStake</span>
            </div>
            <div class="m">
                <span>2020-01-27 10:55:57</span>
            </div>
        </div>
        <div class="tp">
            <div class="t">
                <span>0</span>
                <span></span>
            </div>
        </div>
    </div>
</div>

<div class="bm-gms-c open">
    <div class="bm-gms-ev">
        <div class="inf">
            <div class="l"></div>
            <div class="t">
                <span>SUBSCRIPTION_VIEW</span>
                <span>WalletStake</span>
            </div>
            <div class="m">
                <span>2020-01-27 10:55:57</span>
            </div>
        </div>
        <div class="tp">
            <div class="t">
                <span>0</span>
                <span></span>
            </div>
        </div>
    </div>
</div>

<div class="bm-gms-c open">
    <div class="bm-gms-ev">
        <div class="inf">
            <div class="l"></div>
            <div class="t">
                <span>SUBSCRIPTION_CREDIT</span>
                <span>WalletCredit</span>
            </div>
            <div class="m">
                <span>2020-01-27 10:45:53</span>
            </div>
        </div>
        <div class="tp">
            <div class="t">
                <span>30</span>
                <span></span>
            </div>
        </div>
    </div>
</div>

<div class="bm-gms-c open">
    <div class="bm-gms-ev">
        <div class="inf">
            <div class="l"></div>
            <div class="t">
                <span>SUBSCRIPTION_PURCHASE</span>
                <span>WalletSubscription</span>
            </div>
            <div class="m">
                <span>2020-01-27 10:45:53</span>
            </div>
        </div>
        <div class="tp">
            <div class="t">
                <span>30</span>
                <span></span>
            </div>
        </div>
    </div>
</div>

<div class="bm-gms-c open">
    <div class="bm-gms-ev">
        <div class="inf">
            <div class="l"></div>
            <div class="t">
                <span>DEPOSIT</span>
                <span>WalletDebit</span>
            </div>
            <div class="m">
                <span>2020-01-27 10:45:53</span>
            </div>
        </div>
        <div class="tp">
            <div class="t">
                <span>30</span>
                <span></span>
            </div>
        </div>
    </div>
</div>

<div class="bm-gms-c open">
    <div class="bm-gms-ev">
        <div class="inf">
            <div class="l"></div>
            <div class="t">
                <span>MPESA_TRANSACTION</span>
                <span>WalletDeposit</span>
            </div>
            <div class="m">
                <span>2020-01-27 10:45:53</span>
            </div>
        </div>
        <div class="tp">
            <div class="t">
                <span>30</span>
                <span></span>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock %}
