{% extends "base.html" %}

{% block title %}OasisTips-Tip{% endblock %}



{% block content %}
<div class="bm-gms">
    <div class="bm-gms-tl">
        <a href="index.html" class="a"><i class="icon-left-open"></i></a>
        <div class="l">
            <div>EGYPT PREMIER LEAGUE </div>
        </div>
        <div class="r"></div>
    </div>

    <div class="bm-gms-dt">
        <div class="t">
            Haras El Hedoud
        </div>

        <div class="d">
            <span> 1.80</span>
        </div>

        <div class="t">
            Aswan FC
        </div>
    </div>

    <div class="bm-gms-od">
        <div class="od m3">
            <div class="od-m">
                <button></button>
                <button class="atv">
                    <span></span>
                    <span>Home Win</span>
                </button>
                <button></button>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block footer %}
  <div class="bm-bn bm-mb">
      <div class="bm-bet-sum">
          <div class="l">
              Subscription: <strong>active</strong>
          </div>

          <div class="r">
              Expires On: <strong>2020-01-28 10:45:53</strong>
          </div>
      </div>
  </div>
{% endblock %}
