{% extends "base.html" %}

{% block title %}OasisTips-Verification{% endblock %}


{% block content %}
<div class="bm-form">
    <div class="body t-center verify">
        <form action="" method="POST">
            <div class="content">
                <h2>Account Verification</h2>
            </div>

            <div class="input">
                <label>Enter Code</label>
                <input class="t-center" type="password" name="phone" placeholder="***********"/ autocomplete="off">
            </div>

            <div class="action">
                <button type="submit" name="submit">Enter</button>
            </div>
        </form>

        <div class="comment">
            <p>By signing up, you agree to the Terms & Conditions and Privacy Policy of Ivisha Bet and its entities</p>
        </div>
    </div>
</div>
{% endblock %}


<!--
<div class="input">
    <label>Password</label>
    {% render_field form.password  class="t-center", placeholder='***********', type='password', autocomplete='off'%}
</div>
<!--
<div class="input">
  <label>Confirm Password</label>
  <input class="t-center" type="password" name="newpassword" placeholder="***********"/ autocomplete="off">
</div>
-->
